form(action='/login', method='POST')
  .input-group
    label(for='email') Email
    input#email(type='email', name='email', autofocus, required)
  .input-group
    label(for='pass') Password
    input#pass(type='password', name='password', required)
  .input-group
    input(type='submit', value='Login')
