<div ng-init="getContact()">
  <div class="row">
    <div class="col-md-8">
      <h3>Contact Info</h3>
      <ul class="list-group">
        <li class="list-group-item"><strong>Name: </strong>{{contact.first_name}} {{contact.last_name}}</li>
        <li class="list-group-item" ng-if="contact.nickname"><strong>Nickname: </strong>{{contact.nickname}}</li>
        <li class="list-group-item" ng-if="contact.phoentic"><strong>Phoentic:</strong> {{contact.phoentic}}</li>
        <li class="list-group-item" ng-if="contact.department"><strong>Department:</strong> {{contact.department}}</li>
        <li class="list-group-item" ng-if="contact.title"><strong>Title:</strong> {{contact.title}}</li>
        <li class="list-group-item" ng-if="contact.role"><strong>Role:</strong> {{contact.role}}</li>
        <li class="list-group-item" ng-if="contact.email.main"><strong>Email: </strong> {{contact.email.main}}</li>
        <li class="list-group-item" ng-if="contact.email.other"><strong>Other Email: </strong> {{contact.email.other}}</li>
        <li class="list-group-item" ng-if="contact.phone.main"><strong>Main Phone: </strong> {{contact.phone.main}}</li>
        <li class="list-group-item" ng-if="contact.phone.fax"><strong>Fax: </strong> {{contact.phone.fax}}</li>
        <li class="list-group-item" ng-if="contact.url"><strong>Url:</strong> {{contact.url}}</li>

        <li class="list-group-item" ng-if="contact.web.facebook"><strong>Facebook: </strong> <a href="">{{contact.web.facebook}}</a></li>
        <li class="list-group-item" ng-if="contact.web.twitter"><strong>Twitter: </strong> <a href="">{{contact.web.twitter}}</a></li>
        <li class="list-group-item" ng-if="contact.web.vimeo"><strong>Vimeo: </strong> <a href="">{{contact.web.vimeo}}</a></li>
        <li class="list-group-item" ng-if="contact.web.youtube"><strong>YouTube: </strong> <a href="">{{contact.web.youtube}}</a></li>
        <li class="list-group-item" ng-if="contact.web.instagram"><strong>Instagram: </strong> <a href="">{{contact.web.instagram}}</a></li>
        <li class="list-group-item" ng-if="contact.web.googleplus"><strong>GooglePlus: </strong> <a href="">{{contact.web.googleplus}}</a></li>
        <li class="list-group-item" ng-if="contact.web.other"><strong>Other: </strong> <a href="">{{contact.web.other}}</a></li>

        <li class="list-group-item" ng-if="contact.address.main.street">Main -<strong> Street Address: </strong> {{contact.address.main.street}}</li>
        <li class="list-group-item" ng-if="contact.address.main.city">Main -<strong> City: </strong> {{contact.address.main.city}}</li>
        <li class="list-group-item" ng-if="contact.address.main.state">Main -<strong> State: </strong> {{contact.address.main.state}}</li>
        <li class="list-group-item" ng-if="contact.address.main.zip">Main -<strong> Zip: </strong> {{contact.address.main.zip}}</li>

        <li class="list-group-item" ng-if="contact.address.mailing.street">Mailing -<strong> Street Address: </strong> {{contact.address.mailing.street}}</li>
        <li class="list-group-item" ng-if="contact.address.mailing.city">Mailing -<strong> City: </strong> {{contact.address.mailing.city}}</li>
        <li class="list-group-item" ng-if="contact.address.mailing.state">Mailing -<strong> State: </strong> {{contact.address.mailing.state}}</li>
        <li class="list-group-item" ng-if="contact.address.mailing.zip">Mailing -<strong> Zip: </strong> {{contact.address.mailing.zip}}</li>

        <li class="list-group-item" ng-if="contact.address.other.street">Other - <strong>Street Address: </strong> {{contact.address.other.street}}</li>
        <li class="list-group-item" ng-if="contact.address.other.city">Other - <strong>City: </strong> {{contact.address.other.city}}</li>
        <li class="list-group-item" ng-if="contact.address.other.state">Other - <strong>State: </strong> {{contact.address.other.state}}</li>
        <li class="list-group-item" ng-if="contact.address.other.zip">Other - <strong>Zip: </strong> {{contact.address.other.zip}}</li>

        <li class="list-group-item" ng-if="contact.reminders.birthday"><strong>Birthday: </strong> {{contact.reminders.birthday}}</li>
        <li class="list-group-item" ng-if="contact.reminders.anniversary"><strong>Anniversary: </strong> {{contact.reminders.anniversary}}</li>
        <li class="list-group-item" ng-if="contact.reminders.other"><strong>Other: </strong> {{contact.reminders.other}}</li>
        <li class="list-group-item" ng-if="contact.status"><strong>Status:</strong> {{contact.status}}</li>
        <li class="list-group-item" ng-if="contact.notes"><strong>Notes:</strong> {{contact.notes}}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <!-- Contact Date: {{contact.createdAt}}<br> -->
      <h3>Status: {{contact.status}}</h3>
    </div>
  </div>
  <hr>
  <div class="row">
  <div class="col-md-12">
      <h4> {{contact.company.company}}</h4>
      <ul class="list-group">
        <li class="list-group-item">{{contact.company.email.main}}</li>
        <li class="list-group-item">{{contact.company.phone.main}}</li>
        <li class="list-group-item">{{contact.company.companyType}}</li>
      </ul>
    </div>
  </div>
</div>
